<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nonsense.planttracker">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".android.activities.PlantTrackerUi"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".android.activities.CollectPlantData"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity android:name=".android.activities.CreateRecordType"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".android.activities.ManageRecordTemplates"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".android.activities.PlantCam"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".android.activities.CameraImagePicker"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".android.activities.ImageSeriesViewer"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".android.activities.ColorPicker"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:excludeFromRecents="true" />


        <!--<activity android:name=".android.activities.ImageSeriesViewer"-->
            <!--android:theme="@style/Theme.AppCompat.Dialog"-->
            <!--android:excludeFromRecents="true" />-->

    </application>

</manifest>